<%- include("partials/header.ejs"); -%>

<div class="container">
  <h1>Compose</h1>
  <form action="/compose" method="post">
    <div class="form-group">
      <label for="postTitle" class="form-label">Title</label>
      <input
        type="text"
        class="form-control"
        name="postTitle"
        placeholder="Title"
      />
      <label for="postBody" class="form-label">Post</label>
      <textarea
        class="form-control"
        rows="4"
        name="postBody"
        placeholder="Hello!"
      ></textarea>
    </div>
    <button type="submit" class="btn btn-success mb-3">Submit</button>
  </form>
</div>

<%- include("partials/footer.ejs"); -%>
