body {
  text-align: center;
  background-color: #000853;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  3%;
  color: #ffffff;
}
h3{
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  margin:  5%;
  color: #ffe867;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: #E21818;
}

.green {
  background-color: #3EC70B;
}

.blue {
  background-color: #3330E4;
}

.yellow {
  background-color: #F7EC09;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
