.gradient-background {
    background: linear-gradient(300deg, #00bfff, #ff4c68, #0080d6);
    background-size: 180% 180%;
    animation: gradient-animation 5s ease infinite;
  }

  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }


body {
    font-family: 'Montserrat', sans-serif;
}
#title {
    color: #fff ;
    background-color: #ff4c68;
}
h1 {
    font-weight: 900;
    font-family: "Montserrat",sans-serif ;
    font-size: 3.5rem;
    line-height: 1.5;
}
.container-fluid {
    padding: 3% 15% 7%;
}

/* Navigation Bar */
.navbar-brand {
    font-family: 'Ubuntu',Roboto, Oxygen, sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-item {
    padding: 0 18px;
}
.nav-link {
    font-size: 1.2rem;
}
.navbar {
    padding-bottom: 0 0 4.5rem;
}
/* Download button */
.download-button {
    margin: 5% 3% 5% 0;
}
/* TitleImage */
/* title image z index backward */
.titleimage {
    
    width: 41%;
    transform: rotate(25deg);
    position: absolute;
    right: 20%;
}
/* features section */
#features {
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
}
.featuretab {
    text-align: center;
    padding: 7% 4%;
}   
.featureicon {
    color: #ef8172 ;
    font-size: 4.5rem;
}
.featureicon:hover {
    color: #ff4c68;
}
h3 {
    font-size: 1.5rem;
    font-family: 'Montserrat';
    font-weight: 900;
}
p {
    color: #8f8f8f;
    font-weight: bold;
}
.features-heading {
    color: black;
    font-size: 1.5rem;
}
/* Testimonials */
#testimonials {
    text-align: center;
    color: #fff;
    background-color: #ef8172;
}
h2 {
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 3rem;
    line-height: 2;
}
.testimonials-image {
    width: 10%;
    border-radius: 100%;
    margin:20px;
}
/* Press Section */
#press {
    text-align: center;
    background-color: #ef8172;
    padding-bottom: 3%;
}
.press-logo {
    width: 15%;
    margin: 20px 15px 20px;
}
/* carousels */
.carousel-item {
    padding: 7% 15%;
    transition: transform 0.5s ease;
    opacity: 0.2s ease-in;
}
/* Pricing Card */
#pricing {
    padding: 100px;
    text-align: center;
}
.pricing-column {
    padding: 3% 2%;

}
.card-heading {
    color: black;
    font-size: 2rem;
}

@media (max-width:1028px){
    .titleimage {
        position: static;
        transform: rotate(0);
        width: 100%;
    }
    #title {
        text-align: center;
    }

}
/* CTA section */
#cta {
    background-color: #ff4c68;
    font-family: 'Montserrat';
    text-align: center;
}
.cta-button {
    margin: 5% 3% 5% 0;
}
h3 {
    font-weight: 900;
    font-family: "Montserrat",sans-serif ;
    font-size: 3.5rem;
    line-height: 1.5;
    color: #fff ;

}
/* footer-section */
#footer {
    text-align: center;
    background-color: #fff;
    font-size: 1rem;
    font-weight: 600;
    padding-top: 3%;    
    font-family: 'Montserrat', sans-serif;

}
.copyright {
    color: #8f8f8f;
}
.footer-icon {
    color: black;
    line-height: 2;
    margin: 0 1%;
}
