<%-include("header")-%>

<div id="heading">
    <h1>About Me</h1>
</div>

    <p>
        fjasldfjwife;klawnfaflasnvnnawonvonwonvowafenoiawnfe;lnalflkasjfiwa jdslfoajwofj nlsdlfjwavn oiwa fa jjojfas ijfwoj;
    </p>

<%-include("footer")-%>
